* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* overflow-x: hidden; */
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* Шапка */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-head {
  display: flex;
  justify-content: space-between;
}

.container {
  /* width: 1158px; */
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.studio {
  color: #2e2f42;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu-card {
  padding: 24px 0;
}

.menu-link.current {
  color: #404bbf;
}

.menu-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover {
  color: #404bbf;
}

.menu-link:focus {
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

/* Секция контакты */
.contacts {
  font-style: normal;
}
.list-contacts {
  list-style: none;
  display: flex;
  gap: 40px;
}

.cards-contacts {
  padding: 24px 0;
}

.cards-contacts-link {
  text-decoration: none;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-contacts-link:hover {
  color: #404bbf;
}

.cards-contacts-link:focus {
  color: #404bbf;
}
/* Секция заказа */
.order {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobil-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 600px; */
  height: 432px;
  text-align: center;
  /* padding: 188px 0; */
  padding: 72px 0;
  /* max-width: 1440px; */
  max-width: 320px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobil-bg-2x.jpg);
  }
}

.order-title {
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  /* font-size: 56px; */
  font-size: 36px;
  /* letter-spacing: 0.07em; */
  letter-spacing: 0.045em;
  /* line-height: 1.07; */
  line-height: 40px;
  /* max-width: 496px; */
  max-width: 288px;
}

.button-order {
  margin-left: auto;
  margin-right: auto;
  /* background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.64px;
  display: block;
  min-width: 169px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 72px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover {
  background-color: #404bbf;
}

.button-order:focus {
  background-color: #404bbf;
}

/* Секция характеристики */
.characteristics {
  /* padding: 120px 0; */
  padding: 96px 0;
}
.svg-wrapper {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-characteristics {
  list-style: none;
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  flex-direction: column;
}

.characteristics-subtitle {
  /* font-size: 20px; */
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

/* .cards-characteristics {
  width: calc((100% - 72px) / 4);
} */

.text-characteristics {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Секция команда*/
.svg-icon-box {
  padding-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.svg-icon-wrapper {
  width: 40px;
  height: 40px;
}

.svg-link {
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
}

.svg-link:hover {
  background-color: #404bbf;
}
.svg-link:focus {
  background-color: #404bbf;
}

.svg-icon-wrapper:hover {
  background-color: #404bbf;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  list-style: none;
  display: flex;
  gap: 24px;
}
.card-team {
  background-color: #ffffff;

  text-align: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.team-text-wrapper {
  padding: 32px 0;
}

.team-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
}
/* Секция портфолио */
.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-portfolio {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-portfolio:hover .hover-text {
  transform: translateY(0%);
}

.portfolio-text-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.footer-img-wrapper {
  position: relative;
  overflow: hidden;
}

.hover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Футер */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.studio-footer {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 264px;
}
.svg-footer-icon-box {
  display: flex;
  gap: 16px;
}
.svg-footer-icon-wrapper {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-link-footer:hover {
  background-color: #31d0aa;
}

.svg-link-footer:focus {
  background-color: #31d0aa;
}

.team-icon-footer {
  fill: #f4f4fd;
}
.logo-text-footer-wrapper {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-right: 120px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.title-form-footer {
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 80px;
  margin-bottom: 16px;
}

.footer-form {
  margin-left: 80px;
  display: flex;
  gap: 24px;
}
.footer-form-group {
  padding: 0;
  margin: 0;
  border: none;
}
.footer-mail {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.footer-icon-btn {
  fill: #fff;
  margin-left: 16px;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-window {
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 0;
  color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 8px;
}

.modal-group-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-form-label {
  position: relative;
  display: block;
  flex-direction: column;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}
.modal-input:focus + .form-icon-btn {
  fill: #4d5ae5;
}

.modal-input-container {
  position: relative;
}

.form-icon-btn {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-btn:focus {
  fill: #4d5ae5;
}

.modal-comment-container {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 16px;
  padding-top: 8px;
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.check-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.accept-link {
  text-decoration-line: underline;
  color: #4d5ae5;
}

.checkbox:checked + .modal-checkbox > .check-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  align-items: center;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Планшет */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  /* Секция заказа */
  .order {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg.jpg);
    height: 600px;
    padding: 112px 0;
    max-width: 768px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-bg-2x.jpg);
    }

    .order-title {
      font-size: 56px;
      max-width: 550px;
      letter-spacing: 0.07em;
      line-height: 60px;
    }

    /* Секция характеристики */

    .characteristics {
      padding: 120px 0;
    }
  }

  .cards-characteristics {
    width: calc((100% - 72px) / 2);
    /* width: 325px; */
  }

  .list-characteristics {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px;
  }

  .characteristics-subtitle {
    text-align: start;
  }
}

/* Ноутбук */

@media screen and (min-width: 1158px) {
  /* Секция заказа */
  .container {
    width: 1158px;
  }

  .order {
    height: 600px;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .order-title {
    font-size: 56px;
    letter-spacing: 0.07em;
    line-height: 1.07;
    max-width: 550px;
  }

  .button-order {
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Секция характеристики */

  .characteristics {
    padding: 120px 0;
  }

  .svg-wrapper {
    display: flex;
  }

  .cards-characteristics {
    width: calc((100% - 72px) / 4);
  }

  .list-characteristics {
    flex-direction: row;
    gap: 24px;
  }

  .characteristics-subtitle {
    font-size: 20px;
  }
}
